    @using FirstMVC.Models
    @model Users

    <h1 class="space-bottom">Here are some Users!</h1>
    <div class="outline">
        @foreach (string user in @Model.SomeUsers)
        {
            <p>@user</p>
        }
    </div>
