    @using FirstMVC.Models
    @model Numbers

    <h1 class="space-bottom">Here are some numbers!</h1>
    <div class="outline">
        @foreach (int i in @Model.SomeNumbers)
        {
            <p>@i</p>
        }
    </div>